# Name of the master bot
master_name = "PokeBot"
# Address of the server to connect to
address = "localhost"
# Channel for the master bot
channel = "Lobby"

# Web server settings
domain = "localhost"
bind_address = "127.0.0.1:45538"

# Names for the music bots
names = ["MusicBot"]

# Identity of the master bot
[id]
key = "insert-key-here"
counter = 0
max_counter = 0

# Add identities for music bots here
# [[ids]]
